body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.album_photos{ 
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header nav a{
  position: relative;
  margin: 15px;
  color: black;
}


header nav a.active {
  color: rgb(231, 178, 169);
}